# Ignore node_modules in root folder
node_modules/

# Ignore node_modules in each service folder
*/service-*/node_modules/

# Ignore any build output
**/dist/
**/build/
**/.next/

# Ignore environment-specific files
.env

# Ignore system files
.DS_Store
Thumbs.db
